<h1 class="text-center text-success my-5">Gossip Zone</h1>

<div class="jumbotron text-center my-auto py-5">
    <h4 class="display-5 font-weight-bolder py-5">Welcome to the secret, secret's club!</h4>
    <p class="text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium pariatur recusandae distinctio sunt
        deleniti! Laudantium, error molestias. Sed exercitationem ad totam. Labore hic nemo, expedita optio, quis minima
        autem nulla blanditiis, maxime eaque id in illum reiciendis itaque. Magnam cumque neque nisi consequuntur animi
        deserunt quod expedita, hic iure alias.
    </p>
    <% if current_user %>
        <%= link_to "Posts", posts_path, class: "btn btn-primary"%>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%>
    <% end %>
</div>