<footer class="footer py-1 my-4 text-light bg-secondary text-center">
    <p class="copyright py-2">Built with Rails and Bootstrap by: <span class="text-light">Keli</span> & <span
            class="text-light">Lhoussaine</span></p>
</footer>