<div class="">


<footer class="footer py-1 text-light bg-secondary text-center">
    <p class="copyright py-2">Built with Rails and Bootstrap by: <span class="text-primary">Keli</span> & <span
            class="text-primary">Lhoussaine</span></p>
</footer>
</div>